<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Page</title>
</head>
<body>
    <h1>Enter your Information to Know About Your Crop Yield</h1>


    <h2>Welcome to Our Website to Know About Your Cropyield</h2>
    {% if user.is_authenticated %}
    <h3>Hello {{fname}}</h3>
    <h4>You are Succesfully Logged In !!!</h4>
    <button type="submit"><a href="/signout">Sign Out</a></button>
    {% endif %}
    
</body>
</html>